<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-8 col-md-7 col-sm-6">
			<h1>angular-resource-sails</h1>

			<p class="lead">Example Application</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="well bs-component">
			<form ng-submit="home.addJproWay()" class="form-horizontal">
				<fieldset>
					<legend>Simple Types</legend>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>

						<div class="col-lg-10">
							<input ng-model="home.simpleForm.email" type="text" class="form-control" id="inputEmail"
										 placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Radios</label>

						<div class="col-lg-10">
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
									Option one is this
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									Option two can be something else
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="select" class="col-lg-2 control-label">Selects</label>

						<div class="col-lg-10">
							<select class="form-control" id="select">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
							<br>
							<select multiple="" class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button ng-click="home.simpleForm = {}" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-hover ">
			<thead>
			<tr>
				<th>email</th>
				<th>Column heading</th>
				<th>Column heading</th>
				<th>Column heading</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="simple in home.simpleTypes track by simple.id">
				<td ng-bind="simple.email"></td>
				<td>Column content</td>
				<td>Column content</td>
				<td>Column content</td>
				<td>
					<a ng-click="home.deleteSimple(simple, $index)" class="btn btn-warning">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">

</div>