<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>angular-resource-sails</h1>
            <p class="lead">Example Application</p>
        </div>
    </div>
</div>
<div class="row">

    <div class="alert alert-danger" ng-if="home.error">
      {{home.error}}
    </div>

    <div class="col-md-6">
        <div class="well bs-component">
            <form ng-submit="home.add()" class="form-horizontal">
                <fieldset>
                    <legend>Simple Types</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">Email</label>

                        <div class="col-md-10">
                            <input ng-model="home.simpleForm.email" type="text" class="form-control" id="inputEmail"
                                   placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">One Two Or Three</label>

                        <div class="col-md-10">
                            <div class="radio">
                                <label>
                                    <input ng-model="home.simpleForm.oneTwoOrThree" type="radio" value="one">
                                    One
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-model="home.simpleForm.oneTwoOrThree" type="radio" value="two">
                                    Two
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-model="home.simpleForm.oneTwoOrThree" type="radio" value="three">
                                    Three
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Many Things</label>
                        <div class="col-md-10">
                            <select ng-model="home.simpleForm.manyThings" multiple="" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-default" ng-click="home.cancel()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger pull-right" ng-click="home.causeError()">Error</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>email</th>
                <th>1/2/3</th>
                <th>manyThings</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="simple in home.simpleTypes track by simple.id">
                <td>
                    <span ng-hide="simple.$editing" ng-bind="simple.email"></span>
                    <input ng-show="simple.$editing" ng-model="simple.email" type="text">
                </td>
                <td>
                    <span ng-hide="simple.$editing" ng-bind="simple.oneTwoOrThree"></span>
                    <select ng-show="simple.$editing" ng-model="simple.oneTwoOrThree">
                        <option value="one">one</option>
                        <option value="two">two</option>
                        <option value="three">three</option>
                    </select>
                </td>
                <td ng-bind="simple.manyThings"></td>
                <td>
                    <a ng-hide="simple.$editing" ng-click="home.editSimple(simple)" class="btn btn-info">Edit</a>
                    <a ng-show="simple.$editing" ng-click="home.saveSimple(simple)" class="btn btn-success">Save</a>
                    <a ng-click="home.deleteSimple(simple)" class="btn btn-warning">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Find by email</h3>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="home.searchEmail" placeholder="Email address"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="home.findByEmail()">Find</button>
            </span>
        </div>
        <h4>Found?</h4>
        <div id="foundSimple">
            {{home.foundSimple.id}} {{home.foundSimple.email}}
        </div>
    </div>
    <div class="col-md-6">
        <h4>Counts</h4>
        <dl class="dl-horizontal">
            <dt>Starting</dt>
            <dd>{{home.startingCount}}</dd>
            <dt>Current</dt>
            <dd>{{home.simpleTypes.length}}</dd>
			<dt>Server</dt>
			<dd>{{home.serverCount.count}}</dd>
        </dl>
        <h4>Broadcasts</h4>
        <dl class="dl-horizontal">
            <dt>Created</dt>
            <dd>{{home.created}}</dd>
            <dt>Updated</dt>
            <dd>{{home.updated}}</dd>
            <dt>Destroyed</dt>
            <dd>{{home.destroyed}}</dd>
        </dl>
    </div>
</div>
