<!DOCTYPE html>
<html ng-app="example">
<head>
  <title>Example angular-resource-sails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0+1/lumen/bootstrap.css"/>

  <!--<script src="/assets/vendor/jquery/dist/jquery.js"></script>-->
  <!--<script src="/assets/vendor/bootstrap/dist/js/bootstrap.js"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
  <!--<script src="/assets/vendor/angular-resource/angular-resource.js"></script>-->
  <!--<script src="/js/dependencies/sailsResource.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <!--<script src="/assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
  <!--<script src="/assets/vendor/angular-agility/dist/angular-agility.js"></script>-->
  <!--<script src="/assets/vendor/lodash/dist/lodash.js"></script>-->
  <!--<script src="/assets/vendor/moment/moment.js"></script>-->
  <!--<script src="/assets/vendor/chartjs/Chart.js"></script>-->
  <!--<script src="/assets/vendor/angles/angles.js"></script>-->

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/sailsResource.js"></script>
  <script src="/js/app/app.js"></script>
  <script src="/js/app/home/HomeController.js"></script>
  <!--SCRIPTS END-->
</head>
<body>

<div class="container-fluid" ui-view></div>

</body>
</html>